/* [project]/src/pages/[category]/CatalogPage/CatalogPage.module.scss.module.css [client] (css) */
/* unparsable [project]/src/pages/[category]/CatalogPage/CatalogPage.module.scss.module.css [client] (css) */
