/* [project]/src/modules/shared/layout/Header/Header.module.scss.module.css [client] (css) */
.Header-module-scss-module__Ltmehq__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .Header-module-scss-module__Ltmehq__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .Header-module-scss-module__Ltmehq__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.Header-module-scss-module__Ltmehq__header {
  width: 100%;
  display: flex;
}

.Header-module-scss-module__Ltmehq__header__navigation {
  display: none;
}

@media (min-width: 640px) {
  .Header-module-scss-module__Ltmehq__header__navigation {
    align-items: stretch;
    width: 100%;
    margin-left: 16px;
    display: flex;
  }
}

@media (min-width: 1135px) {
  .Header-module-scss-module__Ltmehq__header__navigation {
    margin-left: 24px;
  }
}

/* [project]/src/modules/shared/layout/Header/components/Navigation/Navigation.module.scss.module.css [client] (css) */
.Navigation-module-scss-module__zCGPJq__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .Navigation-module-scss-module__zCGPJq__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .Navigation-module-scss-module__zCGPJq__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.Navigation-module-scss-module__zCGPJq__nav {
  width: 100%;
}

@media (min-width: 640px) {
  .Navigation-module-scss-module__zCGPJq__nav {
    text-align: center;
    justify-content: space-between;
    display: flex;
  }
}

.Navigation-module-scss-module__zCGPJq__nav__links {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  display: flex;
}

@media (min-width: 640px) {
  .Navigation-module-scss-module__zCGPJq__nav__links {
    text-align: center;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-top: 0;
  }
}

@media (min-width: 1135px) {
  .Navigation-module-scss-module__zCGPJq__nav__links {
    gap: 64px;
  }
}

.Navigation-module-scss-module__zCGPJq__nav__links--item {
  height: 100%;
}

.Navigation-module-scss-module__zCGPJq__nav__links--link {
  color: #75767f;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding-block: 8px;
  transition: color .3s ease-in-out;
  display: flex;
  position: relative;
}

@media (min-width: 640px) {
  .Navigation-module-scss-module__zCGPJq__nav__links--link {
    padding-block: 0;
  }
}

.Navigation-module-scss-module__zCGPJq__nav__links--link:after {
  content: "";
  background-color: #f1f2f9;
  width: 0;
  height: 2px;
  transition: all .3s ease-in-out;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
}

.Navigation-module-scss-module__zCGPJq__nav__links--link:hover {
  color: #f1f2f9;
}

.Navigation-module-scss-module__zCGPJq__nav__links--link:hover:after {
  width: 100%;
}

.Navigation-module-scss-module__zCGPJq__nav__buttons {
  border-top: 1px solid #3b3e4a;
  width: 100%;
  height: 64px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

.Navigation-module-scss-module__zCGPJq__nav__buttons:after {
  content: "";
  background-color: #3b3e4a;
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 50%;
}

@media (min-width: 640px) {
  .Navigation-module-scss-module__zCGPJq__nav__buttons:after {
    display: none;
  }

  .Navigation-module-scss-module__zCGPJq__nav__buttons {
    border-top: none;
    justify-content: start;
    width: auto;
    height: 100%;
    position: relative;
  }
}

.Navigation-module-scss-module__zCGPJq__nav__buttons--item {
  flex: 1;
}

@media (min-width: 640px) {
  .Navigation-module-scss-module__zCGPJq__nav__buttons--item {
    border-left: 1px solid #3b3e4a;
    width: 48px;
  }
}

@media (min-width: 1135px) {
  .Navigation-module-scss-module__zCGPJq__nav__buttons--item {
    width: 64px;
  }
}

.Navigation-module-scss-module__zCGPJq__nav__buttons--link {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.Navigation-module-scss-module__zCGPJq__nav__buttons--link:after {
  content: "";
  background-color: #f1f2f9;
  width: 100%;
  height: 2px;
  transition: all .3s ease-in-out;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

.Navigation-module-scss-module__zCGPJq__nav__buttons--link:hover:after {
  transform: scaleX(1);
}

.Navigation-module-scss-module__zCGPJq__nav__buttons--count {
  aspect-ratio: 1;
  background-color: #eb5757;
  border: 1px solid #0f1121;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 14px;
  font-size: 9px;
  font-weight: 700;
  display: flex;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.Navigation-module-scss-module__zCGPJq__active {
  color: #f1f2f9;
  position: relative;
}

.Navigation-module-scss-module__zCGPJq__active:after {
  content: "";
  background-color: #f1f2f9;
  width: 100%;
  height: 2px;
  transition: all .3s ease-in-out;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
}

/* [project]/src/modules/shared/layout/TopBar/TopBar.module.scss.module.css [client] (css) */
.TopBar-module-scss-module__kXPwza__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .TopBar-module-scss-module__kXPwza__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .TopBar-module-scss-module__kXPwza__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.TopBar-module-scss-module__kXPwza__top-bar {
  width: 100%;
  height: 48px;
  position: relative;
}

@media (min-width: 1135px) {
  .TopBar-module-scss-module__kXPwza__top-bar {
    height: 64px;
  }
}

.TopBar-module-scss-module__kXPwza__top-bar:after {
  content: "";
  background-color: #3b3e4a;
  width: 100vw;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
}

@media (min-width: 640px) {
  .TopBar-module-scss-module__kXPwza__top-bar {
    width: auto;
  }
}

.TopBar-module-scss-module__kXPwza__top-bar__wrapper {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-inline: 16px;
  display: flex;
}

@media (min-width: 1135px) {
  .TopBar-module-scss-module__kXPwza__top-bar__wrapper {
    padding-inline: 24px;
  }
}

.TopBar-module-scss-module__kXPwza__top-bar__navigation {
  display: none;
}

@media (min-width: 640px) {
  .TopBar-module-scss-module__kXPwza__top-bar__navigation {
    display: flex;
  }
}

.TopBar-module-scss-module__kXPwza__top-bar__left-block {
  align-items: center;
  display: flex;
}

.TopBar-module-scss-module__kXPwza__top-bar__right-block {
  border-left: 1px solid #3b3e4a;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  display: flex;
}

@media (min-width: 640px) {
  .TopBar-module-scss-module__kXPwza__top-bar__right-block {
    display: none;
  }
}

.TopBar-module-scss-module__kXPwza__top-bar__logo {
  display: flex;
}

@media (min-width: 1135px) {
  .TopBar-module-scss-module__kXPwza__top-bar__logo {
    height: 28px;
  }

  .TopBar-module-scss-module__kXPwza__top-bar__logo img {
    width: 80px;
  }
}

/* [project]/src/modules/shared/layout/Header/components/Menu/Menu.module.scss.module.css [client] (css) */
.Menu-module-scss-module__9OUOhG__container {
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .Menu-module-scss-module__9OUOhG__container {
    padding-inline: 24px;
  }
}

@media (min-width: 1135px) {
  .Menu-module-scss-module__9OUOhG__container {
    max-width: 1136px;
    margin-inline: auto;
  }
}

.Menu-module-scss-module__9OUOhG__menu {
  z-index: 100;
  background-color: #0f1121;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

@media (min-width: 640px) {
  .Menu-module-scss-module__9OUOhG__menu {
    display: none;
  }
}

.Menu-module-scss-module__9OUOhG__menu__navigation {
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
}

/*# sourceMappingURL=src_modules_shared_layout_245fffd4._.css.map*/