/* [project]/src/pages/HomePage.module.scss.module.css [client] (css) */
/* unparsable [project]/src/pages/HomePage.module.scss.module.css [client] (css) */
/* [project]/src/pages/components/CategoriesBlock/CategoriesBlock.module.scss.module.css [client] (css) */
/* unparsable [project]/src/pages/components/CategoriesBlock/CategoriesBlock.module.scss.module.css [client] (css) */
